
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-intro {
  font-size: large;
}

.Signout-Link{
  position: absolute;
  right: .75vw;
  bottom:94vh;
  color: white;
  font-size: 1em;
}

.Signup-Link{
  position: absolute;
  right: .75vw;
  bottom:94vh;
  color: white;
  font-size: 1em;
}

.Signin-Link{
  position: absolute;
  right: .75vw;
  bottom:90vh;
  color: white;
  font-size: 1em;
}

.addlist {
  position: fixed;
  right: 40vw;
  bottom: 65vh;
  margin-right: 8vw;
}

.addtolists {
  position: fixed;
  right: 50vw;
  bottom: 45vh;
  margin-right: 8vw;
}

.moviesearch{
  position: fixed;
  right: .75vw;
  bottom: 65vh;
  margin-right: 8vw;
}

.movieresults{
  position: fixed;
  right: .75vw;
  bottom: 0vh;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
