
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vh;
}
.title {
  text-align: center;
}
.App-header {
  background-color: #222;
  height: 17vh;
  padding-bottom: 1vh;
  color: white;
  text-align: center;
}

.App-intro {
  font-size: large;
}

.Signout-Link{
  position: absolute;
  right: .75vw;
  bottom:94vh;
  color: white;
  font-size: 1em;
}

.Signup-Link{
  position: absolute;
  right: .75vw;
  bottom:94vh;
  color: white;
  font-size: 1em;
}

.Signin-Link{
  position: absolute;
  right: .75vw;
  bottom:90vh;
  color: white;
  font-size: 1em;
}

.addlist {
  position: fixed;
  right: 40vw;
  top: 20vh;
  margin-right: 8vw;
}

.addtolists {
  position: fixed;
  right: 8vw;
  top: 20vh;
  margin-right: 8vw;
}

.moviesearch{
  position: fixed;
  right: 10vw;
  bottom: 75vh;
  margin-right: 8vw;
}

.movieresults{
  position: fixed;
  right: 40vw;
  bottom: 10vh;
}

.moviedetails{
  position: fixed;
  right: 45vw;
  text-align: center;
  bottom: 11vh;
}

.ratingchange{
  position: absolute;
  right: 50vw;
  text-align: center;
  bottom: 88vh;
}

.findmoviesonlist{
  position: fixed;
  right: 20vw;
  bottom: 85vh;
  margin-right: 8vw;
}

.listmovieresults{
  position: fixed;
  right: 40vw;
  bottom: 10vh;
}

.ratingaddtoone{
  position: fixed;
  right: 5vw;
  bottom: 30vh;

}
.movielist{
  position: fixed;
  top: 10vh;
  margin: 1vw;
}
.filterbuttons{
  position: fixed;
  left: 1vw;
  top: 8vh;
}
.plot{
  position: absolute;
  padding: 3.5vh;
  font-size: 1vw;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
