<div ng-hide="email">
  <not-logged-in> </not-logged-in>
</div>
<div ng-show="email">
  <h2> Add to Many Lists!!!</h2>
  <is-logged-in></is-logged-in>
  <search-imdb></search-imdb>
  <display-movie></display-movie>
  <div class="add-to-list" ng-show="viewAddToManyLists">
    <form ng-submit="addMovieToLists()">
        <div ng-repeat="(listId, list) in listStatus">
          <input type="checkbox" ng-model="list.checked" ng-true-value="true" ng-false-value="false">{{list.title}}
        </div>
        Rating:
        <input type="number" step=".5" min="1" max="5" ng-model="currentRating" />
        <input type="submit" value="Add Movie To Lists?" />
    </form>
  </div>
</div>
